<div class="content">
  <h3>Jacqui's Bio</h3>
  <p>Jacqui is the "smart" member of the Teen Girl Squad. Of all the girls, only So and So's "real" name, Kristen, is revealed. It is only used in the first cartoon, and even then What's Her Face mistakenly refers to her as "Kristina." She usually can be found wearing a sweater and skirt, and has blonde hair styled in a flip.</p>

  <p>Jacqui is portrayed as the smartest of the Teen Girl Squad girls, but she lacks common sense, typifying the "booksmart" stereotype. Besides her academic aptitude, So and So also seems to be the Teen Girl most into shopping. Within the Squad, So and So acts with a degree of submissiveness, though her aggressive blandness keeps her happily adrift during the Squad's adventures. So and So generally defers to Cheerleader without question, although the death of Cheerleader in Teen Girl Squad Issue 9 revealed her hidden desire not only to reform the Squad but to over-achieve to her heart's content.</p>

  <p>She has no more or less luck with boys than the rest of the Squad. Although No I In Team Boy agreed to date her in Teen Girl Squad Issue 2, he was CHILDREN'D soon after. Her only other romantic interest was her imaginary boyfriend, Brett Bretterson, who was last "seen" down the Fighting Growlbacks Bottomless Spirit Pit. In Issue 10, she revealed to Tompkins that she and Brett are broken up, but Tompkins spurned her advances, continuing to play his Game Boy.</p>

  <p>As with the rest of her cohorts, So and So dies in various bizarre and unexpected ways from issue to issue. In the first issue, she was the first Teen Girl to die, and did so by being VOIPED by the Visor Robot.</p>

  <p>In issue 5, when she and Cheerleader were trying to get the "Olda boys" to date them, So-and-So said they were in 8th grade, suggesting that she (along with, subsequently, the rest of the Teen Girl Squad) is around 14 years old.</p>

  <p>After her imprisonment in Issue 11, So and So seems to have developed a phobia for jail, screaming, "AHH! THE POPO! I can't do another nickel!" before jumping into a nearby garbage disposal to escape from the police in Issue 13.</p>

  <p>She appears to have vampire fangs and a forked tongue, as seen in issues 12 and 13 (although in issue 11 her tongue appears to be normal).</p>
</div>