<div class="content">
  <h3>Photo Gallery</h3>
  <ul>
    <li class="crop">
      <a href="images/photo.JPG"><img src="images/photo.JPG"></a>
    </li>
    <li class="crop">
      <a href="images/image.jpeg"><img src="images/image.jpeg"></a>
    </li>
    <li class="crop">
      <a href="images/B1.jpg"><img src="images/B1.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/B2.jpg"><img src="images/B2.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/B3.jpg"><img src="images/B3.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/2.jpg"><img src="images/2.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/3.jpg"><img src="images/3.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/4.jpg"><img src="images/4.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/5.jpg"><img src="images/5.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/6.jpg"><img src="images/6.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/7.jpg"><img src="images/7.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/8.jpg"><img src="images/8.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/9.jpg"><img src="images/9.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/10.jpg"><img src="images/10.jpg"></a>
    </li>
    <li class="crop">
      <a href="images/11.jpg"><img src="images/11.jpg"></a>
    </li>
  </ul>
</div>

